<div class="form-group">
  <label for="<%= id %>"><%= label %></label>
  <input type="<%= type || 'text' %>" id="<%= id %>" name="<%= name %>" value="<%= value || '' %>" <%= required ? 'required' : '' %>>
</div>
